{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        ["babel-plugin-root-import", {
            "rootPathPrefix": "~",
            "rootPathSuffix": "app"
        }]
    ],
    "env": {
        "development": {
            "plugins": [
                "inline-dotenv"
            ]
        },
        "production": {
            "plugins": [
                "transform-inline-environment-variables"
            ]
        }
    }
}
